@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/inter-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/inter-v18-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*{
  font-family: 'Inter', sans-serif;
}

.wrapper{
  width: 100%;
  max-width: 1240px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.s-wrapper{
  width: 100%;
  padding-right: 265px;
  padding-left: 265px;
}

.header-grid{
  grid-template-columns: 235px 1fr 235px;
}

.profileimg{
  width: 214px;
  height: 214px;
}

.footer-nav-tab{
  width: 235px;
}

@media screen and (max-width: 900px) {
  .header-grid{
    grid-template-columns: 180px 1fr 180px;
  }
  
  .s-wrapper{
    padding-right: 210px;
    padding-left: 210px;
  }

  .profileimg{
    width: 114px;
    height: 114px;
  }
}

@media screen and (max-width: 700px) {
  .footer-nav-tab{
    width: 180px;
  }
  .s-wrapper{
    width: 100%;
    max-width: 730px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
  }
}

*::-webkit-scrollbar{
  display: none;
}

body::-webkit-scrollbar{
  display: block
}